body {
  width: 1020px;
  margin: auto;
}
header {
  background-color: #2d303a;
  height: 89px;
}
.logo {
  width: 20px;
  margin-left: 40px;
  margin-top: 30px;
  float: left;
}
nav {
  text-align: right;
  padding-top: 34px;
  padding-right: 40px;
}
nav a {
  color: white;
  padding-right: 15px;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  color: #f06c64;
}
.under_header {
  background-color: #323746;
  height: 6px;
}
.slider {
  background-color: #f06c64;
  height: 585px;
  width: 1020px;
  position: relative;
  overflow: hidden;
}
.slider div {
  display: inline-block;
}

.arr_left {
  position: absolute;
  top: 281px;
  left: 33px;
}
.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 110px;
}
.iphone-horizontal {
  position: absolute;
  top: 174px;
  right: 110px;
}
.arr_right {
  position: absolute;
  right: 40px;
  top: 281px;
}
.arr_left:hover {
  background-color: gray;
}
.arr_right:hover {
  background-color: gray;
}
.footer_slider {
  background-color: #ea676b;
  height: 15px;
  width: 1020px;
  position: absolute;
  bottom: 0px;
}
.header {
  background-color: #f2f2f2;
}
h1 {
  margin-top: 0;
  padding-top: 66px;
  padding-left: 40px;
  font-size: 40px;
}
.header p {
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 30px;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 0;
}
.wrapper1 {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  background-color: #f2f2f2;
  height: 275px;
  padding-top: 55px;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 32% 68%;
}
.wrapper1 img {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}
.img {
  padding-left: 35px;
}
.description {
  padding: 0 10px 0 10px;
}
h6 {
  margin-top: 0;

  font: size 24px;
}
.wrapper1 p {
  font: size 16px;
}
